p {color:green;font-size:50px;}
.bluetxt {color:blue;}
h1{ 
	color:red;font-size:125px;
}
.pinktxt{color:pink;font-size:130px; }	
#greentxt {color:green;}	
#mushroomkid{
	width: 570px;
}
a{font-size:200px;}